@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

*{
    padding: 0%;
    margin: 0%;
    list-style: none;
    text-decoration: none;
    font-family: 'DM Serif Display', serif; 
}

body{
    background-color: #ffe6ec;
}

/*MENU*/
header{
    background-color: #b580c4;
    width: 100%;
    height: 90px;
}
.menu{
    display: flex;
    align-items: center;
    height: 90px;
    width: 70%;
    justify-content: space-between;
    margin: 0% 15%;
}
.home img{
    width: 250px;
}
.links ol {
    display: flex;
    font-size: 22px;
    margin: 0px 50px;

}
.links ol a{
    color: #fff;
    margin: 0px 10px;  
    transition: 0.3s;/*faz a "animação"*/
}
.menu ol a:hover{
    background-color: #f8a8bc;
    padding: 10px 23px;
    border-radius: 40px;
}


/*BANNER*/
.banner{
    margin-top: 20px;
    width: 100%;
    height: 100%;
}
.banner img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/*REDES SOCIAIS*/
.redes{
    background-color: #b580c4;
    display:block;
    position: static;
    height: 160px;
    width: 100%;

}
.redes ul{
    margin: 10px 220px;
    list-style: none;
    display: flex;
    justify-content:center;/*alinhamento horizontal*/
    align-items: center;/*alinhamento vertical*/
    vertical-align:middle;

}
.redes ul a:hover{
    background: #f8a8bc;
    padding: 65px 0px;
    vertical-align: middle;
    border-radius: 100px;
    transition: 0.5s;
}
.redes li img{
    width: 100px;
    height: 100px;
    vertical-align: middle;
    padding: 30px 60px;
}

/*TITULOS*/
.titulo{
    font-size: 60px;
    margin-top: 20px;
    text-align: center;
    font-family: 'DM Serif Display', serif;
    color: #f8a8bc;
}

/*DESTAQUES*/
.destaques h1{
    font-size: 60px;
    margin-top: 20px;
    text-align: center;
    font-family: 'DM Serif Display', serif;
    color: #f8a8bc;
}
.catalogo{
    display: flex;
    flex-wrap: wrap;/*quebra de linha*/
    justify-content: center;

}
.produto{
    padding: 30px;
    background-color: #b580c4;
    margin: 20px;
    border-radius: 40px;
    width: 280px; 
    text-align: center;
}
.produto a{
    font-size: 20px;
    margin-top: 20px;
    color: #fff;
    font-family: 'DM Serif Display', serif;
}
.produto a:hover{
    transition: 0.3s;
    color: #f8a8bc;
}
.produto img{
    width: 280px;
    height: 280px;
    border-radius: 32px;
}

/*RODAPÉ*/
footer{
    width: 100%;
    height: 150px;
    background-color: #b580c4;
    display: flex;
    justify-content: space-evenly;
}
footer section{
    width: 215px;
    margin-top: 20px;
}
.footer-contato, .footer-redes, .footer-horario-atendimento{
    text-align: center;
}
.footer-contato{
    display: flex;
    flex-direction: column;
}
.footer-contato-links{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.item-contato a{
    font-size: 15px;
    color: #000;
    align-items: center;   
}
.item-contato img{
    width: 20px;
}
footer section h3{
    font-family: 'DM Serif Display', serif;
    font-size: 20px;
}
footer section img{
    width: 25px;
}

.footer-redes-links{
    margin-top: 10px;
}
