<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lash Beauty - Cílios</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/imagens/icone-borboleta.png" type="image/x-icon">
</head>
<body>
    <!--MENU-->
    <header>
        <div class="menu">
            <div class="home">
                <a href="/templates/1home.html"><img src="/imagens/nome-lash-beauty-png.png"></a>
            </div>
            <div class="links">
                <ol>
                    <li><a href="/templates/cilios.html">Cílios</a></li>
                    <li><a href="/templates/colas.html">Colas e Removedores</a></li>
                    <li><a href="/templates/acessorios.html">Acessórios</a></li>
                </ol>
            </div>
            <div class="icone-carrinho">
                <a href="/templates/carrinho.html"><img src="/imagens/cart_pink.png"></a>
            </div>
        </div>
    </header>
    <!--BANNER-->
    <div class="banner">
        <img src="/imagens/slider2.png" alt="Banner">
    </div>

    <h1 class="titulo">Cílios:</h1>
        <!--DESTAQUES-->

        <div class="destaques">
        <div class="catalogo">
            <section class="produto">
                <a href="/pagina-de-produto.html">
                    <img src="/imagens/Cílios-1.0.jpg">
                    <p>Cílios Decemars Y - Volume Brasileiro</p></a>
            </section>
            <section class="produto">
                <a href="#">
                    <img src="/imagens/Cílios-2.0.jpg">
                    <p>Cílios Fadvan Y - Volume Brasileiro</p></a>
            </section>
            <section class="produto">
                <a href="#">
                    <img src="/imagens/Cílios-3.0.jpg">
                    <p>Cílios Nagaraku Y - Volume Brasileiro</p></a>
            </section>
            <section class="produto">
                <a href="#">
                    <img src="/imagens/Cílios-4.0.jpg">
                    <p>Cílios Decemars W - Volume Egípcio</p></a>
            </section>
            <section class="produto">
                <a href="#">
                    <img src="/imagens/Cílios-5.0.jpg">
                    <p>Cílios Fadvan W - Volume Egípcio</p></a>
            </section>
            <section class="produto">
                <a href="#">
                    <img src="/imagens/Cílios-6.0.jpg">
                    <p>Cílios Nagaraku W - Volume Egípcio</p></a>
            </section>

        </div>
</body>
</html>