<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comprar - pagamento</title>
    <link rel="stylesheet" href="/static/css/style-comprar.css">
    <link rel="shortcut icon" href="/static/imagens/icone-borboleta.png" type="image/x-icon">
</head>
<body>
    <header>
        <a href="/templates/index.html"><img src="/static/imagens/logo-fundoroxo.png" alt="logo-fundoroxo"></a>
    </header>
    <div class="colunas">
        <!--PRIMEIRA COLUNA-->
        <div class="primeira-coluna">
            <div class="confirmar-dados">
                <section class="email">
                    <img src="" alt="">{{email_adicionado}}
                </section>
                <section class="endereço">
                    <img src="" alt="">{{endereco_adicionado}}
                </section>
            </div>
            <form action="/" method="post">            
            
            </form>
        </div>   
        <!--SEGUNDA COLUNA-->
        <div class="segunda-coluna">
            <div class="bloco-de-produtos">
                <p class="nome-do-produto">Nome do produto</p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe ipsum id tenetur ea perferendis quo quaerat facilis esse architecto neque iste cumque quia debitis ut autem, porro consequuntur deleniti expedita.
            </div>
        </div>
    </div>
</body>
</html>