<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lash Beauty - Home</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="../static/imagens/icone-borboleta.png" type="image/x-icon">
</head>
<body>
    <!--MENU-->
    <header>
        <div class="menu">
            <div class="home">
                <a href="/templates/index.html"><img src="/static/imagens/nome-lash-beauty-png.png"></a>
            </div>
            <div class="links">
                <ol>
                    <li><a href="/templates/cilios.html">Cílios</a></li>
                    <li><a href="/templates/colas.html">Colas e Removedores</a></li>
                    <li><a href="/templates/acessorios.html">Acessórios</a></li>
                </ol>
            </div>
        </div>
    </header>
    <!--BANNER-->
    <div class="banner">
        <img src="/static/imagens/slider1.png" alt="Banner">
    </div>
    <!--REDES SOCIAIS-->
    <div class="redes">
        <ul>
            <li>
                <a href="https://www.facebook.com/Produtos-Beauty-109778125505019/" target="_blank"><img src="/static/imagens/Facebook.png" alt="Facebook"></a>
            </li>
            <li>
                <a href="#" target="_blank"><img src="/static/imagens/Instagram.png" alt="Instagram"></a>
            </li>
            <li>
                <a href="#" target="_blank"><img src="/static/imagens/Whatsapp.png" alt="Whatsapp"></a>
            </li>
        </ul>
    </div>
    <!--DESTAQUES-->
    <div class="destaques">
        <h1>Destaques:</h1>
    <div class="catalogo">
        <section class="produto">
            <a href="/templates/produtos.html">
                <img src="/static/imagens/Cílios-1.0.jpg">
                Cílios Y Decemars Mix Volume Brasileiro</a>
        </section>
        <section class="produto">
            <a href="#">
                <img src="/static/imagens/cola-vermonth-elite.jpg">
                <p>Cola Vermonth Elite</p></a>
        </section>
        <section class="produto">
            <a href="#">
                <img src="/static/imagens/pinca-para-extensao-de-cilios.jpg">
                <p>Pinça para Extenção de cílios</p></a>
        </section>


        <section class="produto">
            <img src="/static/imagens/Cílios-1.0.jpg" alt="Cílios de Volume Brasileiro">
            <p>Cílios Y Decemars Mix Volume Brasileiro</p>
        </section>
        <section class="produto">
            <img src="/static/imagens/Cílios-1.0.jpg" alt="Cílios de Volume Brasileiro">
            <p>Cílios Y Decemars Mix Volume Brasileiro</p>
        </section>
        <section class="produto">
            <img src="/static/imagens/Cílios-1.0.jpg" alt="Cílios de Volume Brasileiro">
            <p>Cílios Y Decemars Mix Volume Brasileiro</p>
        </section>
    </div>

    </div>
    <!--RODAPÉ-->
    <footer>
        <section class="footer-contato">
            <h3>Contato</h3>
            <div class="footer-contato-links">
                <div class="item-contato">
                    <img src="/static/imagens/phone.png" alt="phone">
                    <a href="#">(11)97438-9291</a>
                </div>
                <div class="item-contato">
                    <a href="#"><img src="/static/imagens/arroba.png">lash.beauty@gmail.com</a>
                </div>
                <div class="item-contato">
                    <a href="#"><img src="/static/imagens/local.png">Rua Amacás, 243</a>
                </div>
            </div>
        </section>
        <section class="footer-redes">
            <h3>Redes Sociais</h3>
            <div class="footer-redes-links">
                <a href="#"><img src="/static/imagens/Facebook.png"></a>
                <a href="#"><img src="/static/imagens/Instagram.png"></a>
                <a href="#"><img src="/static/imagens/Whatsapp.png"></a>
            </div>
        </section>
        <section class="footer-horario-atendimento">
            <h3>Horário de Atendimento</h3>
            <p>Seg à sex das 10h às 18h</p>
            <p>Sáb das 10h às 14h</p>
        </section>
    </footer>

</body>
</html>